attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
fasttest-selenium==0.1.5
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
packaging==20.8
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyTelegramBotAPI==3.7.6
pytest==6.2.1
pytest-fixture-config==1.7.0
pytest-webdriver==1.7.0
python-decouple==3.4
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
webdriver-manager==3.2.2
zipp==3.4.0
